# Create, Read, Write

## Import Library

In [1]:
import pandas as pd

## Creating Data
`DataFrame`: a table with rows and columns, not limited by type  
`Series`: sequence of values, basically a list

### Example DataFrame
Keys serve as column labels (table header) and values are the rows  
You can relable the default row ids with the `index` parameter

In [2]:
pd.DataFrame({
    "Yes": [10, 20],
    "No" : [25, 31]
})

   Yes  No
0   10  25
1   20  31

In [9]:
pd.DataFrame({
    "Bob": ["Loved it.", "Tastes like shit."],
    "Sue": ["Amazing place!", "Bland! Where's the lamb sauce?"]
}, index=["Restaurant A", "Restaurant B"])

                            Bob                             Sue
Restaurant A          Loved it.                  Amazing place!
Restaurant B  Tastes like shit.  Bland! Where's the lamb sauce?

### Example Series
Sort of like a one-column DataFrame

In [8]:
pd.Series([ 1, 2, 3 ], index=["Person A", "Person B", "Person C"], name="Siblings")

Person A    1
Person B    2
Person C    3
Name: Siblings, dtype: int64

## Reading Data Files
Loads a `csv` file into a DataFrame

In [15]:
product_dataset = pd.read_csv("./datasets/product.csv")

get the size of the dataset; returned as (records, columns)

In [19]:
product_dataset.shape

(3, 3)

get the first five rows for testing purposes with `dataset.head()`

In [20]:
product_dataset.head()

   Product A  Product B  Product C
0         30         21          9
1         35         34          1
2         41         11         11

## Saving DataFrames

In [21]:
product_dataset.to_csv("./datasets/saved_product.csv")