# Data Types and Missing Values

## Import Libraries

In [1]:
import pandas as pd

## Import Dataset

In [2]:
dataset = pd.read_csv("./datasets/chickweight.csv")

## Data Types
`column.dtype` returns the data type of a particular column

In [3]:
dataset.weight.dtype

dtype('int64')

In [5]:
dataset.dtypes

weight    int64
Time      int64
Chick     int64
Diet      int64
dtype: object

you an transform the datatype to a new one with `column.astype(<dtype>)`  
`float64`, `int64`, `object` (string)

In [6]:
dataset.weight.astype("float64")

0       42.0
1       51.0
2       59.0
3       64.0
4       76.0
       ...
573    175.0
574    205.0
575    234.0
576    264.0
577    264.0
Name: weight, Length: 578, dtype: float64

## Missing Data
`NaN`: not a number  
`pd.isnull` & `pd.notnull`: get null or not null rows

In [7]:
dataset[pd.isnull(dataset.weight)]

Empty DataFrame
Columns: [weight, Time, Chick, Diet]
Index: []

`column.fillna(<value>)` replaces all NaN values with `<value>`

In [9]:
dataset.weight.fillna("unknown")

0       42
1       51
2       59
3       64
4       76
      ...
573    175
574    205
575    234
576    264
577    264
Name: weight, Length: 578, dtype: int64

`column.replace(<value>, <value>)`

In [11]:
dataset.weight.replace(42, 10)

0       10
1       51
2       59
3       64
4       76
      ...
573    175
574    205
575    234
576    264
577    264
Name: weight, Length: 578, dtype: int64