# Index, Select, Assign

## Import Library

In [2]:
import pandas as pd

## Load Dataset

In [3]:
dataset = pd.read_csv("./datasets/chickweight.csv")

In [4]:
dataset.head()

   weight  Time  Chick  Diet
0      42     0      1     1
1      51     2      1     1
2      59     4      1     1
3      64     6      1     1
4      76     8      1     1

## Native Accessors
Access the property of a dataset by chaining indexes (can handle reserved chars) or dots

In [5]:
dataset.weight[0]

42

## Selection

### Index Based Selection
Selects data based on numerical position in dataframe  
Uses row-first, column second (opposite of Python)  
Non-inclusive range

get first row

In [6]:
dataset.iloc[0]

weight    42
Time       0
Chick      1
Diet       1
Name: 0, dtype: int64

get all rows, first column

In [7]:
dataset.iloc[:, 0]

0       42
1       51
2       59
3       64
4       76
      ...
573    175
574    205
575    234
576    264
577    264
Name: weight, Length: 578, dtype: int64

### Label Based Selection
Selects data based on label in dataframe  
Inclusive range

In [14]:
dataset.loc[0, ["weight", "Time"]]

weight    42
Time       0
Name: 0, dtype: int64

You can manipulate the index with `.set_index`

In [18]:
dataset.set_index("weight")

        Time  Chick  Diet
weight
42         0      1     1
51         2      1     1
59         4      1     1
64         6      1     1
76         8      1     1
...      ...    ...   ...
175       14     50     4
205       16     50     4
234       18     50     4
264       20     50     4
264       21     50     4

[578 rows x 3 columns]

### Conditional Selection

In [21]:
dataset.weight >= 75

0      False
1      False
2      False
3      False
4       True
       ...
573     True
574     True
575     True
576     True
577     True
Name: weight, Length: 578, dtype: bool

In [33]:
dataset.loc[(dataset.Diet == 1) & (dataset.Time == 0)] # & = and
dataset.loc[(dataset.Diet == 1) | (dataset.Time == 0)] # | = or

     weight  Time  Chick  Diet
0        42     0      1     1
12       40     0      2     1
24       43     0      3     1
36       42     0      4     1
48       41     0      5     1
60       41     0      6     1
72       41     0      7     1
84       42     0      8     1
95       42     0      9     1
107      41     0     10     1
119      43     0     11     1
131      41     0     12     1
143      41     0     13     1
155      41     0     14     1
167      41     0     15     1
175      41     0     16     1
182      42     0     17     1
194      39     0     18     1
196      43     0     19     1
208      41     0     20     1

### Native Conditional Selectors

In [35]:
dataset.loc[dataset.weight.isin([40, 41, 42])].head()

    weight  Time  Chick  Diet
0       42     0      1     1
12      40     0      2     1
36      42     0      4     1
48      41     0      5     1
49      42     2      5     1

In [38]:
dataset.loc[dataset.weight.notnull()].head()

   weight  Time  Chick  Diet
0      42     0      1     1
1      51     2      1     1
2      59     4      1     1
3      64     6      1     1
4      76     8      1     1

## Assign
Simply set the data frame to a single value or a list of values

In [43]:
dataset.weight = 0
dataset

     weight  Time  Chick  Diet
0         0     0      1     1
1         0     2      1     1
2         0     4      1     1
3         0     6      1     1
4         0     8      1     1
..      ...   ...    ...   ...
573       0    14     50     4
574       0    16     50     4
575       0    18     50     4
576       0    20     50     4
577       0    21     50     4

[578 rows x 4 columns]