# Summary Functions and Maps

## Import Libraries

In [2]:
import pandas as pd

## Load Dataset

In [3]:
dataset = pd.read_csv("./datasets/chickweight.csv")

In [4]:
dataset.head()

   weight  Time  Chick  Diet
0      42     0      1     1
1      51     2      1     1
2      59     4      1     1
3      64     6      1     1
4      76     8      1     1

## Summary Functions
Helpers that restructure data

In [5]:
dataset.weight.describe()

count    578.000000
mean     121.818339
std       71.071960
min       35.000000
25%       63.000000
50%      103.000000
75%      163.750000
max      373.000000
Name: weight, dtype: float64

In [6]:
dataset.weight.mean()

121.81833910034602

In [8]:
dataset.Diet.unique()

array([1, 2, 3, 4], dtype=int64)

## Maps
Function that maps one range of values to a new range of values, does not modify original data  
More powerful but more performance heavy

In [11]:
weight_mean = dataset.weight.mean()
dataset.weight.map(lambda x : x - weight_mean)

0      -79.818339
1      -70.818339
2      -62.818339
3      -57.818339
4      -45.818339
          ...
573     53.181661
574     83.181661
575    112.181661
576    142.181661
577    142.181661
Name: weight, Length: 578, dtype: float64

In [13]:
dataset.apply(lambda row : row.weight - weight_mean, axis="columns") # transform each row, axis="index" -> transform each column

0      -79.818339
1      -70.818339
2      -62.818339
3      -57.818339
4      -45.818339
          ...
573     53.181661
574     83.181661
575    112.181661
576    142.181661
577    142.181661
Length: 578, dtype: float64

Likely faster to use Pandas operators (the library will understand Series of equal length)

In [12]:
dataset.weight - dataset.weight.mean()

0      -79.818339
1      -70.818339
2      -62.818339
3      -57.818339
4      -45.818339
          ...
573     53.181661
574     83.181661
575    112.181661
576    142.181661
577    142.181661
Name: weight, Length: 578, dtype: float64